<% var current_user = JSON.parse($('#current_user_json').html()); %>

<div class='panel panel-default'>

  <% if (!post.escape('photo_url')){ %>
    <div class='panel-heading'><h3 class='title'><%= post.escape('title') %></h3></div>

    <div class='body panel-body'><%= post.escape('body').replace(/\n/g, '<br>') %></div>
  <% } else { %>
    <div class='body panel-body'><img  src='<%= post.escape('photo_url') %>'></div>
  <% } %>
  
  <div class='panel-footer'>
    <div class='btn-group'>
      <% if (post.get('author_id') === current_user.id) { %>  
        <a class='delete glyphicon glyphicon-trash btn 
         btn-default btn-sm'>
        </a>
      <% } %>
      <a class='commentsBtn glyphicon glyphicon-comment btn btn-default btn-sm' data-toggle='modal'
       data-target='<%= '#comments-modal-' + post.get('id') %>'>
      <a class='tagBtn glyphicon glyphicon-tags btn btn-default btn-sm'>
      </a>
    </div>
  </div>
</div>

 <!-- Comments Modal -->

<div class='modal fade' id='<%= 'comments-modal-' + post.get('id') %>' tabindex="-1" role="dialog"
 aria-labelledby="comments-modal-label" aria-hidden="true">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal"
        aria-hidden="true">&times;</button>
       <h3 class="modal-title" id="comments-modal-label">Comments</h3>
     </div>
     <div class="modal-body">
     </div>
     <div class="modal-footer">
     </div>
   </div>
 </div>
</div>