<% var current_user = JSON.parse($('#current_user_json').html()); %>

<h1>Your Blogs</h1>
<hr>
<div>
	<% blogs.forEach(function(blog) { %>
    <% if (blog.get('user_id') === current_user.id) { %>
      <p>
  		  <a href=<%= '#/blogs/' + blog.get('id') %>>
  		  <%= blog.escape("name") %>
  			</a>
  			<a class='delete glyphicon glyphicon-trash btn btn-default btn-xs'
         data-id='<%= blog.get('id') %>'></a>
  		</p>
    <% } %>
	<% }); %>
</div>
<a href='#/blogs/new' class='btn btn-sm btn-default'>New Blog</a>
<hr>

<h1>Followed Blogs</h1>
<hr>
<div>
  <% blogs.forEach(function(blog) { %>
    <% if (blog.get('user_id') !== current_user.id) { %>
      <p>
  		  <a href=<%= '#/blogs/' + blog.get('id') %>>
  		  <%= blog.escape("name") %>
  			</a>
  		</p>
    <% } %>
  <% }); %>
</div>
