<!DOCTYPE html>
<html>
<head>
  <title>JournalApp</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


  <% if user_signed_in? %>
     Welcome, <%= current_user.username %><br>
     <%= link_to("Sign Out", destroy_user_session_url, :method => :delete)%><br>
  <% else %>
    <%= link_to("Sign In", new_user_session_url)%><br>
    <%= link_to("Sign Up", new_user_registration_url)%><br>
  <% end %>

<%= yield %>

</body>
</html>
