<!DOCTYPE html>
<html>
<head>
  <title>Blog Jamboree!</title>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
   rel="stylesheet">
  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
  <script type='application/json' id='current_user_json'>
    { "id": <%= current_user.id if current_user %>, "name": "<%= current_user.username if current_user %>" }
  </script>
  
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= filepicker_js_include_tag %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body>

  <div class='container well'>
    <div class='row'>
      <div class='logo col-md-1'>
        <img src='/assets/J!.png'>
      </div>
      <div class='topbar col-md-11'>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <% if user_signed_in? %>
           Welcome, <%= current_user.username %><br>
           <%= link_to("Sign Out", destroy_user_session_url, :method => :delete)%><br><br>
        <% else %>
          <%= link_to("Sign In", new_user_session_url)%><br>
          <%= link_to("Sign Up", new_user_registration_url)%><br>
        <% end %>
      </div>
    </div>

    <%= yield %>
  </div>

</body>
</html>
